
.top-nav {
  nav {
    margin-top: 3px;
    margin-bottom: 3px;
    ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px;

      li {
        display: inline-block;
        margin-right: 10px;
      }

    }
  }
  a {
    color:#f4f4f4;
    text-decoration: none;
    font-size: 10px;

    &:hover {
      color:#4b87c2;
    }
  }

  @include desktop {
    background-color:#000;
  }

  @include mobile{
    display: none;
  }
}
/*Temporary hidden the dropdown menu*/
#ccm-account-menu-container {
  display: none;
}
.logo {
  @include desktop {
    display:inline-block;
  }
  @include mobile {
    display:none;
  }
}

.logo-mobil {
  height: 90px;
  width: 90px;
  margin-top: 3px;
  @include desktop {
    display:none;
  }
  @include mobile {
    display:inline-block;
  }
}

.search-input {
  border:none;
  padding:5px 40px 5px 10px;
  border-radius: 20px;
  color:#333;
  background:url(#{$themePath}/images/magnifiing-glass.svg) no-repeat;
  background-size: 20px;
  background-position: right 15px top 5px;
  background-color:#fff;
}

.header {
  height: $navH;
  color: $baseColor;

  .main-nav-branding {
    height: $navH;
    .logo {
      display: block;
      width: 220px;
      margin:30px 0 0 0;
    }
  }
  @include desktop{
    background-color:#fff;
  }
  @include mobile{
    background-color:#00549c;
    .main-nav-branding{
      .logo {
        margin:10px 0 0 0px;
      }
    }
  }

  .main-nav-menu {
    height: $navH;

    @include desktop {
      padding-top: 25px;
      .hamburger-icon {
        display: none;
      }

      .main-nav-container {

        table-layout: fixed;
        width: 100%;
        display: flex;
        position: relative;

        ul {
        list-style: none;
        display: flex;
        width: 100%;
        min-width: 1%;

        li {
          display: table-cell;
          position:relative;
          padding:0;
          margin:0;
          flex: 1 1 auto;

          a {
            width:135px;
            height:76px;
            line-height: 76px;
            padding: 0;
            word-wrap: break-word;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            color:#9F9F9F;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 13px;
            transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
            &:hover {
              color:$hoverColor;
              font-weight: normal;
            }
            &:before {
              content:'';
              display: block;
              position:absolute;
              bottom:3px;
              left:0;
              height:3px;
              width: 100%;
              background-color:#00549c;
              transform-origin: right top;
              transform: scale(0, 1);
              transition: color 0.1s,transform 0.2s ease-out;
            }
            &:hover::before{
              transform-origin: left top;
              transform: scale(1, 1);
            }
          }
        }
      }
      }
    }

    @include mobile{
      text-align: right;
      padding-top:30px;

      .hamburger-icon {
        display: inline-block;
        width:36px;
        margin-right: 20px;
      }

      ul {
        display: none;
      }
    }
  }

  .main-nav-search {

    @include desktop{
      height: $navH;
      padding-top: 40px;
      padding-right: 20px;

    }

    @include mobile{
      display: none;
    }

  }

  .main-nav-menu-mobil {
    display: none;
    background-color:#333;
    position: absolute;
    top: 116px;
    left: 0px;
    width: 100%;
    z-index: 200;
    box-sizing: border-box;

    @include mobile{
      form {
        padding-right: 15px;
      }
      .search-input {
        display: block;
        width: 100%;
        margin:30px 0 20px 0;
      }
      ul {
        list-style: none;
        padding:0;
        li {
          padding:5px;
          a {
            color:#fff;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.2em;
            padding:0;
            line-height: 3.5em;
            &:hover {
              color:#fff;
              text-decoration: none;
            }
          }
        }
      }
    }
    @include desktop{
      display: none;
      .search-input {
        display: none;
      }
      ul {
        display: none;
      }
    }

  }
}

#nav-icon {
  width: 36px;
  height: 30px;
  margin:15px 0 0 -10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: white;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;

    &:nth-child(1){
      top:0px;
    }
    &:nth-child(2){
      top:12px;
    }
    &:nth-child(3){
      top:24px;
    }
  }
}

#nav-icon.open {
  span {
    &:nth-child(1){
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: -3px;
      left: 0px;
    }
    &:nth-child(2){
      width: 0%;
      opacity: 0;
    }
    &:nth-child(3){
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 23px;
      left: 0px;
    }
  }
}

.breadcrumb {
  background:none;
  padding:32px 0 0 0;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  .active {
    color:#333;
    font-weight: 600;
  }
}

.lightbox-sidenav {
  list-style: none;
  margin:0;
  padding:0;
  li {
    margin:0;
    padding:10px;
    list-style: none;
    a {
      color:#333;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.lightbox-menu {
  position: absolute;
  float: right;
  bottom: 20px;
  right:25px;
}

#rename-lightbox-modal {
  .modal-dialog{
    .modal-content {
      .modal-body{
        label {
          display: block;
          font-size:.7em;
          font-weight: bold;
          text-transform: uppercase;
        }
        input {
          display: block;
          width: 100%;
          padding:10px;
          font-size: 1.3em;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
