$themePath: '/packages/brand_central/themes/theme_brand_central';
$font: 'Montserrat', sans-serif;
$navH:116px;
$baseColor:#737373;
$hoverColor:#000;
$mobile-width: 320px;
$desktop-width: 992px;
$search-input-height:50px;
$imgBorderColor:#ececec;
$imgBackgroundColor:#fafafa;



